@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@500;700&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,100;1,400;1,500&display=swap");
:root {
  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);
  --Blue: hsl(248, 32%, 49%);
  --Blue2: hsl(249, 10%, 26%);
  --Blue3: hsl(246, 25%, 77%);
}
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
/* ok============================================================================================================================= */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../images/bg-intro-desktop.png);
  background-color: var(--Red);
  font-family: "Manrope", sans-serif;
}

.container {
  width: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: row;
}

.text {
  color: white;
}

.text h1 {
  font-size: 2.7rem;
  font-weight: border;
  line-height: 1.2;
  padding-bottom: 1rem;
}

.text p {
  max-width: 45ch;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-bottom: .4rem; */
  gap: 2rem;
  /* position: relative; */
}

.form2 {
  position: relative;
}
.form2 input {
  margin-bottom: 0.3rem;
}

.form2 input:focus {
  border: 2px solid hsl(154, 100%, 46%);
}
.form2 span {
  opacity: 0;
  font-size: 0.7rem;
  color: red;
  text-align: right;
  position: absolute;
  right: 0;
}
/* .form2 span:first-of-type{
  opacity: 1;
} */

.form2.active span:first-of-type {
  opacity: 1;
}

.form2.active2 span:nth-of-type(2) {
  opacity: 1;
}
.try {
  padding: 1rem 1.5rem;
  background: var(--Blue);
  border-radius: 10px;
  text-align: center;
  color: rgb(252, 252, 252, 0.7);
  font-weight: 400;
  width: 100%;
}

.try span {
  color: rgb(252, 252, 252);
  font-weight: 900;
}

.validate {
  padding: 1.3rem;
  background: whitesmoke;
  border-radius: 10px;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 1.7rem;
}

.validate input {
  padding: 0.5rem;
  padding-right: 3rem;
  width: 100%;
  border-radius: 5px;
  outline: none;
  display: block;
  border: solid 1px rgba(0, 0, 0, 0.3);
}

.form2.active input {
  border: solid 2px rgba(250, 6, 6, 0.973);
}

.form2.active2 input {
  border: solid 2px rgba(250, 6, 6, 0.973);
}

.form2.active input::placeholder {
  color: red;
  text-transform: uppercase;
}

.form2 img {
  position: absolute;
  top: calc(50% - 3px);
  transform: translateY(-50%);
  right: 15px;
  opacity: 0;
}
.form2.active img {
  opacity: 1;
}

.butn {
  padding: 1rem;
  border-radius: 5px;
  outline: none;
  border: none;
  background: var(--Green);
  font-weight: 900;
  color: aliceblue;
  box-shadow: 0 2px rgba(0, 0, 0, 0.5);
  transform: translateY(0px);
}

/* .butn::-ms-value{
  text-align: center;
} */

.butn:hover {
  background: hsl(154, 93%, 48%);
}

.butn:active {
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0) 0px 1px 4px;
}

.aver {
  font-size: 0.7rem;
  text-align: center;
  font-weight: 900;
}

.aver span {
  color: var(--Red);
}

.aver span:hover {
  text-decoration: underline;
}

/* .input:focus {
  outline: hsl(154, 59%, 51%) solid 2px;
} */
@media screen and (max-width: 866px) {
  .container {
    flex-direction: column;
  }

  .text {
    text-align: center;
    max-width: auto;
  }

  .text h1 {
    font-size: 2rem;
  }
  .text p {
    font-size: 0.95rem;
  }
}
